<%= form_with(model: @task, local: true) do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, required: true %>
        <%= form.label :due_date %>
        <%= form.datetime_select :due_date, required: true %>
        <%= form.label :repeat_frequency %>
        <%= form.select :repeat_frequency, ['daily', 'weekly', 'monthly', 'yearly'], required: true %>
        <%= form.label :repeat_interval %>
        <%= form.number_field :repeat_interval, required: true %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>