<h1>New Task</h1>

<%= form_with(model: Task.new, local: true) do |form| %>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.label :due_date %>
        <%= form.datetime_select :due_date %>
        <%= form.label :repeat_frequency %>
        <%= form.select :repeat_frequency, ['daily', 'weekly', 'monthly', 'yearly'] %>
        <%= form.label :repeat_interval %>
        <%= form.number_field :repeat_interval %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>

